.button{
    &__nav{
        display: flex;
        justify-content: center;
        align-content: center;
        max-width: 100%;
        width:auto;
        max-height: 100%;
        height: auto;
        background-color: transparent;
        border: none;
        
        padding-inline: calc(2 * var(--step));
        &:hover{
            background-color: var(--border-gray);
        }        
    }
    &__brand{
        text-transform: uppercase;
        font-weight: var(--medium-font);
        padding-inline: calc(2 * var(--step));
        padding-block: calc(1 * var(--step));
        color: var(--primary-text);
        display: flex;
        justify-content: center;
        align-content: center;
        max-width: 100%;
        width:auto;
        max-height: 100%;
        height: auto;
        background-color: var(--brand-accent);
        border: 2px solid var(--brand-accent-light);        
        padding-inline: calc(2 * var(--step));
        transition: var(--transition-duration);
        box-shadow: var(--box-shadow-brand-accent);
        &:hover{
            background-color: var(--simply-accent-dark);
            border-color: var(--simply-accent);
        }

    }
}