.nav{
    &__list{
        
        
    }
    &__item{
        
        }
    &__button{
        font-size: 15px;
        font-family: var(--primary-family);
        font-weight: var(--semi-bold-font);
        color: var(--primary-text);
    }
}