@use "sass:color";

:root {
    // color
--primary-background: #0c0d10;
--secondary-background: #17181C;
--brand-accent: #ff2a2a;
--simply-accent: #00d9ff;
--brand-accent-light: #fc5a5a;
--simply-accent-dark: #014753;
--brand-accent-15: #ff2a2a26;
--simply-accent-15: #00d9ff26;
--brand-accent-35: #ff2a2a59;
--simply-accent-35: #00d9ff59;
--brand-accent-60: #ff2a2a99;
--simply-accent-60: #00d9ff99;
--primary-text: #ffffff;
--secondary-text: #a0a3ac;
--border-gray: #26282e;

    // fonts
--primary-family: "Rajdhani", sans-serif;
--secondary-family: "Inter", sans-serif;

--bold-font: 700;
--semi-bold-font: 600;
--medium-font: 500;
--regular-font: 400;

--letter-spacing-small: 0.5px;
--letter-spacing-big: 1px;

    //border  
--border: 1px solid var(--border-gray);
--border-radius: 8px;

    //step
--step: 8px;

    //animation
--transition-duration: 0.2s;

--box-shadow-brand-accent:
    0 0 8px  var(--brand-accent-60),   
    0 0 20px var(--brand-accent-35),   
    0 0 40px var(--brand-accent-15);   
--box-shadow-simply-accent:
    0 4px 4px -4px rgba(12, 12, 13, 0.05),
    0 16px 32px -4px rgba(12, 12, 13, 0.1);
}